<!DOCTYPE html>
<html lang="en">
  <head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="utf-8">
    <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">

    {# Le HTML5 shim, for IE6-8 support of HTML elements #}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block basecss %}
    <link href="media/css/bootstrap.css" rel="stylesheet">
    <link href="media/css/main.css" rel="stylesheet">
    <link href="media/css/pygments.css" rel="stylesheet">
    {% endblock basecss %}

    {% block css %}{% endblock %}

    {% block favicons %}
    <link rel="shortcut icon" type="image/png" href="media/img/favicon.png">
    {% endblock favicons %}
    
    {% block headjs %}
    <script src="media/js/libs/jquery-1.8.3.min.js"></script>
    <script src="media/js/libs/bootstrap.js"></script>
    {% block scripts %}
    {% endblock scripts %}
    {% endblock headjs %}

    {% block endhead %}
    {% endblock endhead %}
  </head>

  <body class="{{ resource.meta.id if resource.meta.id else resource.slug }}">

    {% block body %}
    <div id="wrap">
        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                {% block header %}
                {% endblock header %}
            </div>

            {% block content %}
                {# This is where the bulk of the content will go #}
            {% endblock %}
        </div>

        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="muted credit">Created using <a href="https://github.com/djoshea/matnote">MatNote</a> on {{ resource.meta.created }}</p>
        </div>
    </div>
    {% endblock body %}
  </body>
</html>
