{# Notebook page template #}

{% extends "base.j2" %}

{% block title %}
{{ resource.meta.page }} | {{ resource.meta.notebook }}
{% endblock title %}

{% block header %}
<h1>
{{ resource.meta.page }} <span class="muted">{{ resource.meta.notebook }}</p>
</h1>
{% endblock header %}

{% block content %}

{% block pageEntries %}

<div id="entries">
    {% for entry in resource.meta.entries %}
    <div class="entry row-fluid">
        <div class="timestamp span2">
            <a href="#entry{{ entry.timestamp|replace(" ","_")|replace(":","")|replace(".","") }}">{{ entry.timestamp }}</a>
            <a id="entry{{ entry.timestamp|replace(" ","_")|replace(":","")|replace(".","") }}"></a>
        </div>
        <div class="body span10">
        {% if entry.type == "sessionStart" %}
            <span class="label label-info">Session Started</span>
        {% endif %}

        {% if entry.type == "note" %}
            {{ entry.text }}
        {% endif %}

        {% if entry.type == "figure" %}
            {{ entry.name }}

            {# Embed the image as PNG #}
            {% for figure in entry.figures %}
                {% if figure.ext == "png" %}
                    <p>
                        <img class="figure" src="{{ figure.url }}" alt="{{ entry.name }} as {{ figure.ext }}"/>
                    </p>
                {% endif %}
            {% endfor %}
            `
            <p class="muted">{{ entry.caption }}</p>

            {# Link to the other image types #}
            <p class="credits">
            {% for figure in entry.figures %}
                <a href="{{ figure.url }}">{{ figure.ext }}</a>&nbsp;
            {% endfor %}
            </p>

        {% endif %}

        </div>
    </div>
    {% endfor %}
</div>

{% endblock pageEntries %}

{% endblock content %}

